/* background color */
.background {
    background-color: rgb(229, 203, 122);
}
/* burger image */
.burger-img {
    max-width: 100%;
    width: 200px;
}
/* titles and headings */
.title {
    color: blue;
    font-family: "Indie Flower", cursive;
    font-size: 72px;
    margin: 5% 0 5% 0;
}
.sub-title {
    font-family: "Architects Daughter", cursive;
    font-size: 48px;
    text-align: center;
}
.sub-title-eat {
    color: green;
}
.sub-title-ate {
    color: red;
}
/* list items */
.item {
    height: 60px;
    border-radius: 40px;
    width: 400px;
    max-width: 100%;
    margin: 2.5%;
    padding: 1%;
    color: blue;
    background-color: rgb(229, 203, 122);
    font-family: "Architects Daughter", cursive;
    font-size: 28px;
    text-align: center;
}
.eat {
    border: solid 2px green;
}
.ate {
    border: solid 2px red;
}
/* buttons */
.button {
    height: 60px;
    border-radius: 40px;
    max-width: 100%;
    margin: 2.5%;
    padding: 1%;
    font-family: "Indie Flower", cursive;
    font-size: 22px;
}
.submit {
    width: 300px;
    color: blue;
    background-color: rgb(229, 203, 122);
    border: solid 2px blue;
}
.submit:hover {
    font-weight: bold;
    color: whitesmoke;
    background-color: blue;
    border: solid 2px blue;
}
.submit:focus {
    font-weight: bold;
    color: whitesmoke;
    background-color: blue;
    border: solid 2px blue;
    outline: none;
}
.devour {
    width: 150px;
    color: blue;
    background-color: rgb(229, 203, 122);
    border: solid 2px green;
}
.devour:hover {
    font-weight: bold;
    color: blue;
    background-color: green;
    border: solid 2px green;
}
.delete {
    width: 150px;
    color: blue;
    background-color: rgb(229, 203, 122);
    border: solid 2px red;
}
.delete:hover {
    font-weight: bold;
    color: blue;
    background-color: red;
    border: solid 2px red;
}
/* text input */
input:enabled, input:focus, input:active {
    height: 60px;
    width: 300px;
    max-width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    border-radius: 40px;
    margin: 2.5%;
    padding: 1%;
    text-align: center;
    border: solid 2px blue;
    outline: none;
}